*{
    margin: 0px;
    padding: 0px;
}

h1{
    font: bold 20px verdana, sans-serif;
    color: brown;
}
h2{
    font: bold 14px verdana, sans-serif;
}

h3{
  color: red;
  font-style: italic;

}

header, section, footer, aside, nav, article, figure, figcaption,hgroup{
    display: block;
}
body {
    background: url(wallpapers/adom_real-wallpaper-1920x1080.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    text-align: center;
}

.btn {
  padding:5px 7px;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin: 10px;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover{
  transform: scale(1.2);
}

#agrupar {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}
#cabecera {
    background: white;
    border: 1px solid #999999;
    padding: 20px;

 -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;

background: -webkit-radial-gradient(center, circle, #FFFFFF 0%, #006699 200%);
    background: -moz-radial-gradient(center, circle, #FFFFFF 0%, #006699 200%);
}
#menu {
    background: white;
    padding: 5px 15px;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
    background: linear-gradient(30deg, #FFFFFF, black);
}
#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;

    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
#seccion {
    float: left;
    width: 660px;
    margin: 20px;

    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
#columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: white;

    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid black;

    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
    background: linear-gradient(40deg, white, black);

}
article {
    background: white;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;

    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;

}
article footer {
text-align: right;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
time {
color: aquamarine
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
figcaption {
    font: italic 14px verdana, sans-serif;
}

span3 {
  color: red;
  background: blond;
  font-style: italic;
}

#repoductor{
      -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
    background: linear-gradient(40deg, white, black);
}

#medio{

    display: inline-block;
    list-style: none;
    padding: 5px;
      -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
    background: linear-gradient(40deg, white, black);
}
